<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>支付失败</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
            .text{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        
            <div class="main">
                <div class="text">您的订单支付失败</div>
            </div>
    </body>
</html>
